<!-- <div class="teamdiv">
    <img id="teampic" src="/assets/images/teampic.jpg" alt="" />
    <h3 class="artist-name-thumbnail">Hellooooooo</h3>
</div> -->
<div class="metacontainer">
  <div class="container">
    <img src="/assets/images/teampic.jpg" alt="Team Picture" style="width:100%;">
    <img src="/assets/images/logo-3.png" class="hero-sector-logo" width="185">
    <div class="team-names">
      
        <span class="namespace">Chaim Finson</span>
        <span class="namespace">Shachar Zadik</span>
        <span class="namespace">Adam Shameiss</span>
        <span class="namespace">Yoni Mateh</span>
      
    </div>
    <div class="centered">
      <h1>What we do?</h1>
      <h3> Providing a platform to book and host shows from emerging musicians </h3>
      <ul>
        <h1 class="secondary">Why we do it</h1>
        <li>
          Give you as an artist the oppurtunity to meet local music fans, showcase the best of your music and gain invaluable exposure.
        </li>
        <li>
          Give you the bar keeper, restaurant owner, establishment manager. A wonderful chance to offer great live music at little
          or no cost!
        </li>
        <li>
          Give you the music lover a chance to see and hear some of the hottest musicians while they are still budding and growing
          in their. You can personally meet them at initimate settings and enjoy some of the terrific content they make first
          hand!
        </li>
      </ul>
    </div>
  </div>
</div>
f