/* #teampic{
    background-size: cover;
    width: 100%;
}
.teamdiv{
    position: relative;
    height: 740px;
    width:480px;
}
.artist-name-thumbnail {
    position: absolute;
    color:black;
    font-size: 24px;
    letter-spacing: 0.3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
/* .teamdiv{
    height: 200px; 
    background-color: #444;
    color: #fff;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */
.metacontainer{
    height: 80%vh;
    width: 80%vh;
    /* background-image: url('/assets/images/sky.jpg') */
    background-color: black;    
}
.team-names{
    margin: auto;
    position: absolute;
    top: 0%;
    right:30%;
}

  .container {
    position: relative;
    text-align: center;
    color: white;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    margin: 5px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    margin: 5px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    margin: 5px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    margin: 5px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}
img{
    border-radius: 7px;
}
.secondary{
    text-decoration: underline;
}
.hero-sector-logo{
    position:absolute;
    /* z-index: 1; */
    top:3%;
    left: 35%;
}
li{
    padding: 5%
    /* text-decoration: bold; */
}

.namespace{
    padding: 7px;
}