

/* artist-list-style */

.artist-profiles-wrapper {

   width: 100%;
   background-color: rgb(204, 204, 204);
}



.artists-list-wrapper {
    display: grid;
    padding-left: 100px;
    padding-right: 100px;
    grid-template-columns: 30% 30% 30% ;
    grid-gap: 23px;
    background-color: #fff;
    color: #444;
  }
  
  .artist-item-thumbnail{
    height: 200px; 
    background-color: #444;
    color: #fff;
    border-radius: 4px;
    padding: 10px;
    
  }