.nav-color{
  color: white;
}

.header-container {
  background-image: url('/assets/images/secret-stage-overlay_lighter.jpg');
  height: 100%;
  width: 100%;
  background-repeat: no-repeat, repeat;

}
a{
  cursor: pointer;

}
a:hover{
  background-color:rgb(158,109,130);
}
#textcolor{
  color: white;
}