<div class="addartist-background">
<div class="col-8 addartist-form">

  <h1 class="form-text">Add Artist Form</h1>
  <div class="form-group" [formGroup]="mainDescForm">
    <label class="form-text">Name</label>
    <input type="text" class="form-control" formControlName="name">

    <label class="form-text">Description</label>
    <input type="text" class="form-control" formControlName="description">

    <label class="form-text">Genre</label>
    <input type="text" class="form-control " formControlName="genres">
    <div>
      <label class="form-text">Event types</label>
      <br>
      <div class="form-group form-check-inline" *ngFor="let eventType of eventTypes">
        <input class="form-check-input" type="checkbox" value="{{eventType}}" formControlName="eventType" (change)="onChangeEventType($event, eventType)">{{eventType}}
      </div>
    </div>
  </div>

  <div>
    <form [formGroup]="socialMediaLinks" class="form-group" (ngSubmit)="OnSubmit(socialMediaLinks.value)">
      <label class="form-text" for="">Social Media Links</label>

      <div formArrayName="socialMediaItems" *ngFor="let item of socialMediaItems.controls; let i = index;">
        <div [formGroupName]="i" class="form-inline">
          <input type="url" class="form-control forminputbox" formControlName="name" placeholder="" />
          <button class="removebtn" (click)="removeSocialMedia(i)">Remove</button>
        </div>
      </div>
      <button class="addmorebtn" type="button" (click)="addToSocialMediaLinks()">Add More</button>
    </form>

    <form [formGroup]="linksToSongs" class="form-group" (ngSubmit)="OnSubmit(linksToSongs.value)">
      <label class="form-text" for="">Links To Songs</label>

      <div formArrayName="linksToSongItems" *ngFor="let item of linksToSongItems.controls; let i = index;">
        <div [formGroupName]="i" class="form-inline">
          <input type="url" class="form-control forminputbox" formControlName="name" placeholder="" />
          <button class="removebtn" (click)="removeLinkToSong(i)">Remove</button>

        </div>
      </div>
      <button class="addmorebtn" type="button" (click)="addLinkToSong()">Add More</button>
    </form>
    <div>

      <button class="button w-button addartist-form submit-form-btn" (click)="sendData()" routerLink="">Submit</button>
    </div>
  </div>
</div>
</div>
<!-- <a routerLink="home"></a> -->