<nav-bar-header class="header">

</nav-bar-header>
<section class="hero-homepage">
    <div class="background-img-section">
        <div class="hero-content-container w-container">
            <img src="/assets/images/logo-3.png" class="hero-sector-logo" width="185">
            <h5>Connecting artists and fans in new ways, for private and public events</h5>
            <a routerLink="addartist" class="button w-button">Join Here!</a>
        </div>
    </div>
</section>

<artistlist></artistlist>
<showslist></showslist>
