



 /* show image styling */
 .event-image-sidebar {
    grid-area: sidebar;
    border-right: 1px solid rgb(196, 196, 196);
    color: rgb(65, 65, 65);
    height: 100vh;
    position: relative;
    padding: 50px;
    overflow: visible;


}

.event-cover-img {
    width: 100%;
    height: 65vh;
    background-color: rebeccapurple;
  }
  
  .get-tickets {
      font-size: 20px;
      font-weight: bold;
      margin-top: 10px;
      text-align: center;
      width: 100%;
  
  }

  .rsvp-btn {
      width: 100%;
      height: 50px;
      border-radius: 4px;
      color: white;
  }
  